ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space around;
    align-items: center;
    height: 100vh;
    text-align: center;
}
li {
    margin: 20px;
    border: 1px solid lavender;
    list-style: none;
}
img {
    height: 200px;
    margin: 5px;
}
